.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-class-name {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.notification-amount {
  color: #ff7a00;
  font-weight: bold;
  font-size: 1.1rem;
}

.join-label {
  margin-top: 8px;
  background-color: #ff7a00;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.2s;
}

.notification-item:hover .join-label {
  background-color: #ffa733;
}


.notification-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* ensure it's above other content */
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dim background */
  z-index: 1;
}

.modal-content {
  position: relative;
  z-index: 2;
  background: white;
  padding: 20px;
  margin: 100px auto;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}
